{%- assign item = section.settings -%}



<div class="nomargin container-indent page-title-section-jk {{ item.custom_classes }}">
  <div class="nopaddings">   
    <div class="tt-block-title">
      <div>
         <h2 class="tt-title">{{ page_title }}</h2> 
         <div class="page-submenu" style="text-align: center;">
           {{item.sub_title}}
         </div>
      </div>   
    </div>
    <div class="top-banner-slider">     
      {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}{%- assign b_i = block.settings -%}
      <div>
        <img class="lazyload" src = "{{ b_i.image | img_url: 'master' }}"  alt="{{ b_i.image.alt }}">
      </div>
      {%- endfor -%}
      {%- else -%}
      <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}{"name":"Top Section sliders","class":"page-title-section","settings":[{"type":"textarea","id":"sub_title","label":"Sub Title","info":"For Sub Title. Use Html code"},{"type":"textarea","id":"custom_classes","label":"Custom css classes","info":"For the custom styles. Add your styles in the theme.css.liquid"}],"blocks":[{"type":"item","name":"Background slider image","settings":[{"type":"image_picker","id":"image","label":"Image"}]}],"default":{"blocks":[]}}{% endschema %}